# Day - 7

## Topics going to be cover in Day 7
- For Loop
- Solved some for loop practice questions

In [1]:
x = [1,2,3]
for i in x:
    print(i)

1
2
3

### Iterate the elements from the list usinf for loop

In [2]:
mylist = list(range(1,11))
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
for i in mylist:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
for i in mylist:
    print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

### Printing even and odd numbers using for loop

In [5]:
for i in mylist:
    if i %2 == 0:
        print(f"\nEveen number {i}")
    else:
        print(f"\nOdd number {i}")

Odd number 1

Eveen number 2

Odd number 3

Eveen number 4

Odd number 5

Eveen number 6

Odd number 7

Eveen number 8

Odd number 9

Eveen number 10

### Finding sum of all numbers using for loop

In [6]:
list_sum = 0
for i in mylist:
    list_sum = list_sum + i
print(list_sum)

55

In [7]:
my_string = "Hello World"
for i in my_string:
    print(i)

H
e
l
l
o

W
o
r
l
d

### Accessing and unpacking tuples using for loop

In [8]:
tup = tuple(range(1,11))
for i in tup:
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [9]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [10]:
len(mylist)

4

In [11]:
mylist

[(1, 2), (3, 4), (5, 6), (7, 8)]

In [12]:
for i in mylist:
    print(i)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [13]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [14]:
mylist = [(1,2,3),(0,5,4),(7,8,9)]
for a,b,c in mylist:
    print(b)

2
5
8

### Accessing dictionary using for loop

In [15]:
d = {'k1':1,'k2':2,'k3':3}
for i in d:
    print(i)

k1
k2
k3

In [16]:
d = {'k1':1,'k2':2,'k3':3}
for i in d.items():
    print(i)

('k1', 1)
('k2', 2)
('k3', 3)

In [17]:
for key,value in d.items():
    print(key)
    print("\n")
    print(value)
    print("\n")
    print(key,value)
    print("\n")

k1


1


k1 1


k2


2


k2 2


k3


3


k3 3

In [18]:
d = {'k1':1,'k2':2,'k3':3}
for i in d.values():
    print(i)

1
2
3

In [19]:
d = {'k1':1,'k2':2,'k3':3}
for i in d.keys():
    print(i)

k1
k2
k3

### Python for loop using the zip() function for parallel iteration

In [20]:
a1 = ['Aniruddh', 'Alisha', 'Aayush', 'Rishi', 'Reva']
b1 = [22, 20, 17, 15, 20]

In [21]:
for i,j in zip(a1,b1):
    print(f"{i} is {j} year old")

Aniruddh is 22 year old
Alisha is 20 year old
Aayush is 17 year old
Rishi is 15 year old
Reva is 20 year old

### Nested for loops in Python

In [22]:
list1 = [5,10,15,20]
list2 = ['Apple', 'Banana', 'Orange']
for i in list1:
    for j in list2:
        print(f"Bring {i} {j}")

Bring 5 Apple
Bring 5 Banana
Bring 5 Orange
Bring 10 Apple
Bring 10 Banana
Bring 10 Orange
Bring 15 Apple
Bring 15 Banana
Bring 15 Orange
Bring 20 Apple
Bring 20 Banana
Bring 20 Orange

### Using break statement inside a for loop

In [23]:
a = [1,2,4,5,6]
for i in a:
    if i == 4:
        break
    print(i)

1
2

### Using continue statement inside a for loop

In [24]:
for i in a:
    if i == 4:
        continue
    print(i)

1
2
5
6

### Use for loop to find the sum of all numbers in a list

In [25]:
n = list(range(1,11))
c = 0
for i in n:
    c = c+i
print(c)

55

### for loop to copy elements from one list to another

In [26]:
list1 = list(range(0,11,2))
l2 = []
for i in list1:
    l2.append(i)
print(f"list 1 = {list1}")    
print(f"list 2 = {l2}")

list 1 = [0, 2, 4, 6, 8, 10]
list 2 = [0, 2, 4, 6, 8, 10]

### for loop to find the maximum element in a list

In [27]:
list1

[0, 2, 4, 6, 8, 10]

In [28]:
max = 0
for i in list1:
    if i>max:
        max = i
print(max)

10

### for loop to find the minimum element in a list

In [29]:
min = 10000
for i in list1:
    if min>i:
        min = i
print(list1)
print(f"minimum value from list is {min}")

[0, 2, 4, 6, 8, 10]
minimum value from list is 0